// ===== Layout =====

.header {
    //
}

.footer {
    //
}

.section__start,
.section__end {
    &:after {
        display: inline-block;
    }
}

.section__start:after {
    content: '<' attr(data-title) '>';
}

.section__end:after {
    content: '</' attr(data-title) '>';
}
