// ===== Utilities =====

// ==== Background ====

// Background Cover
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-size-cover {
    background-size: cover;
}

.bg-size-contain {
    background-size: contain;
}

.bg-position-center {
    background-position: center;
}

.bg-position-center-top {
    background-position: center top;
}

.bg-position-50-50 {
    background-position: 50% 50%;
}

.bg-repeat-no-repeat {
    background-repeat: no-repeat;
}

.bg-attachment-fixed {
    background-attachment: fixed;
}

// ==== Buttons ====

.btn-facebook {
    &.no-hover {
        background-color: $brand-color-facebook;

        &:hover {
            background-color: $brand-color-facebook;
            border-color: $brand-color-facebook;
        }
    }
}

.btn-twitter {
    &.no-hover {
        background-color: $brand-color-twitter;

        &:hover {
            background-color: $brand-color-twitter;
            border-color: $brand-color-twitter;
        }
    }
}

.btn-linkedin {
    &.no-hover {
        background-color: $brand-color-linkedin;

        &:hover {
            background-color: $brand-color-linkedin;
            border-color: $brand-color-linkedin;
        }
    }
}

.btn-github {
    &.no-hover {
        background-color: $brand-color-github;

        &:hover {
            background-color: $brand-color-github;
            border-color: $brand-color-github;
        }
    }
}

// Instagram logo is based on a gradient
.btn-instagram {
    background: radial-gradient(circle at 30% 107%, $brand-color-instagram-1 0%, $brand-color-instagram-1 5%, $brand-color-instagram-2 45%, $brand-color-instagram-3 60%, $brand-color-instagram-4 90%);
}


// ==== Position ====

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

// ==== Misc ====

.is-clickable {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;

    &:hover {
        cursor: not-allowed;
    }
}

@for $i from 0 through 1000 {
    .z-index-#{$i} {
        z-index: $i !important;
    }
}

.z-index-max {
    z-index: 9999 !important;
}

@for $i from 0 through 9 {
    .opacity-#{$i} {
        opacity: $i / 10;
    }
}
