<div class="d-flex align-items-center p-4 mb-4" [class.scrolled]="scrolled">

    <div class="container d-flex justify-content-between">

        <span class="">Pepe</span>

        <nav class="">
            <a pageScroll class="px-3 py-2 text-dark" href="#about">About</a>
            <a pageScroll class="px-3 py-2 text-dark" href="#background">Background</a>
            <a pageScroll class="px-3 py-2 text-dark" href="#testimonials">Testimonials</a>
            <a pageScroll class="px-3 py-2 text-dark" href="#contact">Contact</a>
        </nav>

    </div>

</div>
