<div class="d-flex align-items-center p-4 mb-4" [class.scrolled]="scrolled">

    <div class="container d-flex justify-content-between">

        <span class="">Pepe</span>

        <nav id="menu" class="">

            <a pageScroll href="#about" data-scrollspy="#about" class="menu-item px-3 py-2 text-dark">About</a>

            <a pageScroll href="#background" data-scrollspy="#background" class="menu-item px-3 py-2 text-dark">Background</a>

            <a pageScroll href="#testimonials" data-scrollspy="#testimonials" class="menu-item px-3 py-2 text-dark">Testimonials</a>

            <a pageScroll href="#contact" data-scrollspy="#contact" class="menu-item px-3 py-2 text-dark">Contact</a>

        </nav>

    </div>

</div>
