<!-- <div data-spy="scroll" data-target="#navbar-example" data-offset="0"> -->

    <!-- About -->
    <jma-home-about id="about" class="d-flex align-items-center justify-content-center flex-column p-5"></jma-home-about>

    <!-- Background -->
    <jma-home-background id="background" class="d-flex align-items-center justify-content-center flex-column p-5"></jma-home-background>

    <!-- Testimonials -->
    <jma-home-testimonials id="testimonials" class="d-flex align-items-center justify-content-center flex-column p-5"></jma-home-testimonials>

    <!-- Contact -->
    <jma-home-contact id="contact" class="d-flex align-items-center justify-content-center flex-column p-5"></jma-home-contact>

<!-- </div> -->
