
<!-- About -->
<div id="about" class="scrollspy section section--about d-flex align-items-center justify-content-center flex-column">

    <h4>About</h4>

</div>

<!-- Background -->
<div id="background" class="scrollspy section section--background d-flex align-items-center justify-content-center flex-column">

    <h4>Background</h4>

</div>

<!-- Testimonials -->
<div id="testimonials" class="scrollspy section section--testimonials d-flex align-items-center justify-content-center flex-column">

    <h4>Testimonials</h4>

</div>

<!-- Contact -->
<div id="contact" class="scrollspy section section--contact d-flex align-items-center justify-content-center flex-column">

    <h4>Contact</h4>

</div>
