<div class="position-fixed top-0 right-0 h-100 d-flex justify-content-center flex-column">

    <!-- Facebook -->
    <a class="btn btn-social btn-facebook no-hover border-0 p-0 pr-3 mr-n3 rounded-0 d-flex align-items-center justify-content-center" href="https://www.facebook.com/sephirothpp" target="_blank">
        <i class="fab fa-facebook-f fa-2x"></i>
    </a>

    <!-- Github -->
    <a class="btn btn-social btn-github no-hover border-0 p-0 pr-3 mr-n3 rounded-0 d-flex align-items-center justify-content-center" href="https://www.linkedin.com/in/jmandreslopez/" target="_blank">
        <i class="fab fa-github fa-2x"></i>
    </a>

    <!-- Twitter -->
    <a class="btn btn-social btn-twitter no-hover border-0 p-0 pr-3 mr-n3 rounded-0 d-flex align-items-center justify-content-center" href="https://twitter.com/sephirothpp" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
    </a>

    <!-- Linkedin -->
    <a class="btn btn-social btn-linkedin no-hover border-0 p-0 pr-3 mr-n3 rounded-0 d-flex align-items-center justify-content-center" href="https://www.linkedin.com/in/jmandreslopez/" target="_blank">
        <i class="fab fa-linkedin-in fa-2x"></i>
    </a>

    <!-- Instagram -->
    <a class="btn btn-social btn-instagram no-hover text-white border-0 p-0 pr-3 mr-n3 rounded-0 d-flex align-items-center justify-content-center" href="https://www.instagram.com/sephirothpp/" target="_blank">
        <i class="fab fa-instagram fa-2x"></i>
    </a>

</div>
