<div class="position-absolute top-0 right-0 h-100 d-flex justify-content-center flex-column">

    <!-- Twitter -->
    <a class="btn btn-twitter rounded-0" href="https://twitter.com/sephirothpp" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- Facebook -->
    <a class="btn btn-facebook rounded-0" href="https://www.facebook.com/sephirothpp" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>

    <!-- Linkedin -->
    <a class="btn btn-linkedin rounded-0" href="https://www.linkedin.com/in/jmandreslopez/" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>

</div>
